title = "Garret Fick"
url = "/about"
layout = "default"
is_hidden = 0
==
<div class="row">
    <div class="col-sm-8">
        <p>Garret is currently the Software Architect for ChinaNetCloud. Before this, he was the CTO and Co-founder of <a href="https://snapeda.com">SnapEDA</a> where he co-lead the company to receive funding from <a href="https://ycombinator.com">YCombinator</a>. Prior to start-ups, he grew his professional career to a Senior Software Engineer at <a href="https://ni.com">National Instruments</a> working in both Toronto, Canada and Shanghai, China. He is no stranger to the web, and wrote his first website in 1997.</p>
        <p>Garret worked for much of his career in the Electronics Design and Automation (EDA) industry, creating software products that enable electronics engineers to design the electronics we use every day. He is a contributor to open source EDA projects, including <a href="https://github.com/curtacircuitos/pcb-tools">pcb-tools</a>.</p>
        <p>He speaks and writes regularly about his software engineering experience. He volunteers his web experience for <a href="http://shpride.com">ShanghaiPRIDE</a> in Shanghai. Garret's complete resume is on <a href="https://linkedin.com/in/garretfick" rel="me">LinkedIn</a>.</p>
    </div>
    <div class="col-sm-4">
        <img src="themes/demo/assets/images/headshot_squarel.jpg"/>
    </div>
</div>