title = "Blog"
url = "/blog"
layout = "default"
description = "Garret's blog usually covers software engineering from the perspective of a developer and project manager."
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"

[blogCategories]
slug = ":slug"
displayEmpty = 0
categoryPage = "blog/category"
==
<div class="row">
    <div class="col-sm-8">
        {% component 'blogPosts' %}
    </div>
    <div class="col-sm-4">
        {% component 'blogCategories' %}
    </div>
</div>