title = "That Legal Stuff"
url = "/copyright"
layout = "default"
is_hidden = 0
==
<h2>Copyright & Trademarks</h2>
<p>All content on the Fick's Workshop website and software created by Fick&apos;s Workshop and/or Garret Fick is copyrighted and the intellectual property of Fick's Workshop and Garret Fick except where otherwise noted. Permission is not granted for content to be published, republished, reproduced, modified, edited or made available for download, in whole or in part, without express written permission of Garret Fick.</p>
<p>Don't let the above shouldn't stop you from asking. Essentially, I want to know when people use my work and have the option of saying no.</p>

<h2>Additional Copyright, Trademark and Credit Information</h2>
<p>Content on the Fick's Workshop website not created by Fick's Workshop and/or Garret Fick is copyrighted and the intellectual property of the respective owner and is used under license.</p>

<p>Android is a trademark of Google Inc.</p>

<p>Research In Motion, the RIM logo, BlackBerry, the BlackBerry logo, SureType and SurePress are registered with the U.S. Patent and Trademark Office and may be pending or registered in other countries - these and other marks of Research in Motion Limited are used under license.</p>

<p>Joomla: This product (Personal hCard) is not affiliated with or endorsed by the Joomla Project. It is not supported or warranted by the Joomla Project or Open Source Matters. The Joomla logo is used under a limited license granted by Open Source Matters the trademark holder in the United States and other countries.</p>

<h2>Privacy</h2>

<p>E-mail addresses and other contact information such as your mailing address, telephone number, or messaging account names used to communicate with Fick's Workshop and/or Garret Fick are only used to provide the requested information, products and services, or to improve this website. Your contact information will not be shared with any third party, except on your explicit request or where legally required.</p>

<p>Questions, comments, and other feedback, except personally identifying information, may be used for future content, for example, blog posts.</p>

<p>Information about what pages you access or visit are logged by Google Analytics. See Google Analytics privacy policy for details on what information they collect.</p>