title = "Home"
url = "/"
layout = "landing"
is_hidden = 0
==
<div class="row">
    <p style="font-size: 41px; line-height: 160px; font-weight:800">dream.</p>
</div>

<div class="row">
    <p style="font-size: 41px; line-height: 160px; font-weight:800">design.</p>
</div>

<div class="row">
    <p style="font-size: 41px; line-height: 160px; font-weight:800">build.</p>
</div>

<div class="row">
    <p style="font-size: 41px; line-height: 160px; font-weight:800">share.</p>
</div>