title = "Talks"
url = "/talks"
layout = "default"
description = "Garret often speaks about his software engineering experience. Connect with Garret above if you would like to invite him to speak."
is_hidden = 0
==
<div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-8">
        <div><strong>My YC Experience</strong> - 2017-02-09 @ <a href="https://www.meetup.com/Shanghai-Hacker-News-Meetup/events/236811909/">Shanghai Hacker News Meetup - Shanghai</a></div>
        <p>An insider's look at the YCombinator experience.</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-8">
        <div><strong>Evolving an Application Architecture</strong> - 2016-12-14 @ <a href="https://www.meetup.com/Shanghai-JavaScript/events/235854792/">JavaScript Meetup - Shanghai</a></div>
        <p>A practical look at how to transition an application&apos;s architecture.</p>
        <p><a href="http://www.slideshare.net/garretfick/evolving-an-application-architecture">Slides on SlideShare</a></p>
    </div>
</div>

<div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-8">
        <div><strong>Things I Did Badly at YCombinator</strong> - 2015-10-25 @ <a href="https://www.meetup.com/Techyizu/events/225646680/">BarCamp - Shanghai</a></div>
        <p>Big lessons I learned from YCombinator - don&apos;t you make the same mistakes!</p>
    </div>
</div>