title = "Blog Category"
url = "/blog/category/:slug"
layout = "default"
description = "View blog posts in a particular category"
is_hidden = 0

[blogCategories]
slug = ":slug"
displayEmpty = 0
categoryPage = "blog/category"

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :slug }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"
==
<?php
function onEnd()
{
    $this->page->title = $this['category']->name;
    $this->page->description = $this['category']->description; 
}
?>
==
<div class="row">
    <div class="col-sm-8">
        {% component 'blogPosts' %}
    </div>
    <div class="col-sm-4">
        {% component 'blogCategories' %}
    </div>
</div>