//
// Layouts
//
// Styles specific to different page layouts.
//

.landing-content {
  background-color: #1E1E1E;
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  color: #ccc;
}

