==
<div id="footer">
    <div class="container">
        <hr />
        <p class="muted credit"><a href="{{ 'copyright'|page }}">&copy; 2012 - {{ "now"|date("Y") }} Garret Fick.</a></p>
    </div>
</div>