==
<!-- Nav -->
<nav id="layout-nav" class="navbar navbar-inverse navbar-fixed-top navbar-autohide" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ 'home'|page }}">Home</a></li>
                <li class="separator hidden-xs"></li>
                <li class="{% if this.page.id == 'about' %}active{% endif %}"><a href="{{ 'about'|page }}" title="Learn about Garret&apos;s experience">About</a></li>
                <li class="{% if this.page.id == 'blog' %}active{% endif %}"><a href="{{ 'blog'|page }}" title="Read Garret&apos;s blog">Blog</a></li>
                <li class="{% if this.page.id == 'talks' %}active{% endif %}"><a href="{{ 'talks'|page }}" title="Expore Garret&apos;s talks">Talks</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/garretfick" title="View Garret&apos;s code on GitHub" rel="me"><span class="fa fa-github fa-lg" aria-hidden="true"></span></a></li>
                <li><a href="https://bitbucket.org/garretfick" title="View Garret&apos;s code on Bitbucket" rel="me"><span class="fa fa-bitbucket fa-lg" aria-hidden="true"></span></a></li>
                <li><a href="https://slideshare.net/garretfick" title="Read previous talks on SlideShare" rel="me"><span class="fa fa-slideshare fa-lg" aria-hidden="true"></span></a></li>
                <li><a href="https://linkedin.com/in/garretfick" title="Connect on with Garret on LinkedIn"  rel="me"><span class="fa fa-linkedin fa-lg" aria-hidden="true"></span></a></li>
                <li><a href="https://twitter.com/garretfick" title="Follow Garret on Twitter" rel="me"><span class="fa fa-twitter fa-lg" aria-hidden="true"></span></a></li>
                <li><a href="https://facebook.com/garret.fick" title="Connect with Garret on Facebook" rel="me"><span class="fa fa-facebook fa-lg" aria-hidden="true"></span></a></li>
            </ul>
        </div>
    </div>
</nav>

